body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #70cff5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.content {
	padding: 30px;
	font-size: xx-large;
}

.header {
	padding: 10px;
	background: #1f1f1f;
	border-bottom: 1px solid #999;
	font-size: x-large;
}
.header a {
	color: #9dc9ff;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 5px;
}
.header a:hover {
	color: #a8a8a8;
}
.header small {
	color: #666;
}
.header .active {
	color: #ffffff;
}
